.respect-color {
     color: #D5D5D5;
     font-weight: bold;
}

.gentleness-color {
    color: #EFD592;
    font-weight: bold;

}

.relationships-color {
    color: #E7D5A5;
    font-weight: bold;
}