.selfcontrol-color{
	color: #B69290;
	font-weight: bold;
}

.resilience-color{
	color: #9B9392;
	font-weight: bold;
}

.purpose-color{
	color: #7F7F7F;
	font-weight: bold;
}


.arts-color{
	color: #FF8A76;
	font-weight: bold;
}

.custom-img{
	width: 500px;
	height: 500px;
        float: right;
        margin-left 15px;
}
