.goodness-color {
	color: #7683A2;
	font-weight: bold;
}

.ability-color {
	color: #98A8D0;
	font-weight: bold;
}

.skills-color {
	color: #BFBFBF;
	font-weight: bold;
}

.custom-img{
	width: 500px;
	height: 500px;
        float: right;
        margin-left 15px;
}
