.joy-color {
  color: #949494;
  font-weight: bold;
}

.focus-color {
  color: #4c4c4c;
  font-weight: bold;
}

.energy-color {
  color: #646464;
  font-weight: bold;
}
.custom-img{
	width: 500px;
	height: 500px;
        float: right;
        margin-left 15px;
}
