*{
    margin: 0;
    padding: 0;
}
body{
    background: #c0f6ff;
    font-size: 14px;
    /* Add Font CSS */
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #ffffff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #176cff;
    color: #ffffff;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.form-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-row .form-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 225%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}
.varela-regular {
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  button{
    background: #176cff;
    width: 100px;
    border: none;
    outline: none;
    color: #ffffff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3)
  }
.button:hover {
    background-color: #1758c8
}
.button:active {
  background-color: #1758c8;
  box-shadow: 0 5px rgba(28, 0, 181, 0.3);
  transform: translateY(4px);
}
@media (max-width: 600px){
    .main-container {
        padding: 10px;
    }
}