.py-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.my-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.py-2-5 {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

h1,
h2,
#character-prompt,
#block-name,
#block-desc,
.card-title {
  font-family: "Londrina Solid";
}

#board-description {
  width: 80%;
}

.stone-0 {
  background-color: #fffdc8;
}

.stone-1 {
  background-color: #b5c7a4;
}

.stone-2 {
  background-color: #b6cfeb;
}

.stone-3 {
  background-color: #c18daa;
}

.stone-4 {
  background-color: #f6a99d;
}

.stone-5 {
  background-color: #fadc9a;
}
