{% extends 'base.html' %}

{% block content %}
    <link href="{{ url_for('static', filename='css/ArchStone3.css') }}" />

    <div class ="container text-center">
        <div class="row align-items-start">
            <div class ="col">
                <h1> The Humanities</h1>    
                    <p> Law and Government | Human Behavior | Ethics and Philosophy </p>
                    <p> Books </p>
                    <p> Locations </p>
                    <p> Learning materials </p>
                    <p> Movies/Videos </p>
                    <p> Other Resources </p>
                </div>
            </div>
        </div>
{% endblock %}
