{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/block3.css') }}" />
  
    <div class="container text-left">
      <div class="row align-items-start">
          <h1>
            <span class="stability-color">Block #3: Steel Stability</span>
          </h1>
          <img
            src="{{ url_for('static', filename='images/block3header.png') }}"
            class="img-fluid"
            alt="The Human Domino Effect board with the Steel Stability Block"
          />

	  <div class="col">
            <img
	      src = "{{ url_for('static', filename= 'images/block3people.png')}}"
	      class = "custom-img"
	      alt = "Yhorop and Namyelos ambassadors for carbon care and iron safety"
	    />
            <p>
              Together <span class="care-color">Care</span> and
              <span class="safety-color">Safety</span> provide great guidelines
              for building <span class="stability-color">Steel Stability</span>!
            </p>
            <p>
              Demonstrating and describing for children everyday steps and
              precautions for care and stability allow them to gain a mental
              awareness of these priorities. It comes naturally for many families
              but for some these guidelines are useful building blocks that will
              help children reach a healthier, happier potential in this area both
              now and later in life.
            </p>
            <p>
              It is helpful for children to understand how we deeply care about
              them. The words and actions of care and security provide a
              connection or bond that sets a strong foundation for learning.
              Conveying this idea to children not only allows them to become
              caring adults for the next generations in their future, but also
              allows them to develop and learn in a secure, low anxiety home,
              school, and neighborhood environment. Strategies and activities that
              allow children and teens to witness and participate in caring,
              stable interactions enable us all to live with caution and
              confidence instead of fear.
            </p>
            <p>
              The combination of care and safety can be awkward for some because
              it involves a bonding or connection that is uncomfortable for some
              children and teens. If opportunities to experience appropriate care
              and safety are not provided, a barrier to emotional health is
              created and mental development can be hindered. A good, and perhaps
              best, way to achieve this goal is giving kids and teens an
              opportunity to take care of animals. There are countless stories of
              the healing effects an animal can have on people who have been
              through tough times. Whether it's a horse, a puppy, a kitten, a
              lizard, a goat, or even a chicken, there is nothing that quite
              matches the ability animals have to help us humans understand the
              benefits of crossing emotional barriers with a close caring hugs
              with animals. Developing the desire to make that animal feel safe
              and cared for is a needed skill for optimal wellbeing. There is a
              healthy vulnerability achieved that brings humility and the
              willingness to empathize when caring for animals. The combination of
              the learning elements of care and safety allows students a pathway
              toward the next blocks of responsibility and stable relationships.
            </p>
            <p>
              <span class="care-color">Carbon</span> and
              <span class="safety-color">Iron</span> smelt together to make and
              alloy called <span class="stability-color">Steel</span>.
            </p>
            <p>
              Many people make a good living using this alloy made from metals
              from our earth for industries that buy sell, make, and use piano
              wires, building beams & materials, knives, sewing needles, and
              electronics.
            </p>
            <p>
              <span class="care-color">Care</span> and
              <span class="safety-color">Safety</span> smelt together to make
              <span class="stability-color">Steel</span> which is imperative for
              learning and wellness. The sense of stability from this combination
              allows children and teens to discover their purpose within and
              achieve their personal goals with confidence and enthusiasm.
            </p>
	  </div>
          <img
            src="{{ url_for('static', filename='images/block3scale.png') }}"
            class="img-fluid"
            alt="A scale showing how Steel Stability is a mix of Carbon Care and Iron Safety"
          />
      </div>
    </div>

{% endblock %}
