{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/block6.css') }}" />
    <div class = "container text=left">
      <div class="row align-items-start">
          <h1>
            <span class="responsibility-color">Block #6: Responsibility</span>
          </h1>
          <img
            src="{{ url_for('static', filename='images/block6header.png') }}"
            class="img-fluid"
            alt="The Human Domino Effect board with the Responsibility Block"
          />

	  <div class ="col">
            <img
              src = "{{url_for( 'static', filename = 'images/block6people.png')}}"
	      class = "custom-img"
              alt = "Ibmaj and Udakak ambassadors for titanium kindness and iridium understanding"
	    />
            <p>
              Together,
              <span class="kindness-color"> Kindness</span> and
	      <span class = "understanding-color"> Understanding </span>
	      make for strong
	      <span class = "responsibility-color"> Responsibility! </span>
            </p>
            <p>
              This block builds on the stability block. As kids and teens
	      stack up the blocks in the Liberty column they can visualize the 
	      strong link between the attention and tasks needed to create physical
	      and psychological stability that lead naturally to the tasks of understanding 
	      the critical and specific ways necessary to show kindness in various circumstances.
	      This skill cannot develop with desk work or excessive screen time. It is hands on, 
	      real life experiences that build a sense of effective responsiveness that establishes 
	      responsibility. When children and teens have been given ample amount of opportunity to 
	      experience stability and observe safe caring behaviors of adults around them with 
	      intensely listening to understand what approaches are helpful (previous block) they 
	      can differentiate which approaches are actually kind and which are not kind for the 
	      specific situation. We can’t truly show kindness unless we understand what is needed
	      by the people, animals, and ecosystems to which we are trying to be kind. Once this
	      kind of mindset is honed, responsibility naturally becomes a character trait that is 
	      valued with a sense of ownership by children and teens.
            </p>
          
            <p>
              <span class="kindness-color">Platinum</span> and
              <span class="understanding-color">Iridium</span> smelt together to make and alloy called
              keen <span class="responsibility-color">Platium</span>. 
            </p>
	    <p>
	      Many people make a good living using this alloy made from metals from 
	      our earth for industries that buy, sell, make, and use jewelry, watches, 
	      synthetic fibers, micro-electrodes, and electrical stimulation for nervous 
	      tissue after various kinds oof surgery.
	    </p>
	  
	    <p>
	      <span class = "kindness-color"> Kindness</span> and
	      <span class = "understanding-color"> Understanding </span> smelt together to build 
	      <span class = "responsibility-color"> Responsibility </span>.
	    </p>
	  </div>
          <img
            src="{{ url_for('static', filename='images/block6scale.png') }}"
            class="img-fluid"
            alt="A scale showing how Platinum Responsibility is a mix of Iridium Understanding and Platinum Kindness"
          />
        </div>
      </div>
{% endblock %}
