{% extends 'base.html' %}


{% block content %}
      <link rel="stylesheet" href="../static/css/block8.css" />
      <div class="row align-items-start">
        <div class="col">
          <h1>
            <span class="resilience-color">Block #8: Resilience</span>
          </h1>
          <img
            src="../static/images/block8header.png"
            class="img-fluid"
            alt="The Human Domino Effect board with the resilience Block"
          />
          <p>
            Together <span class="selfcontrol-color">Self-Control</span> and
            <span class="purpose-color">Purpose</span> 
	    combine to make strong and flexible 
	    <span class ="resilience-color"> Resilience </span> to help 
	    children and teens as they face unforeseen challenges with
	    perseverance and the ability to pivot and utilize creative 
	    solutions in difficult circumstances to achieve their goals 
	    in health and happiness throughout their personal and 
	    professional and career.
	  <p> 
	    This block in the top block on the tower of 
	    <span class ="arts-color"> Happiness </span> and 
	    <span class = "arts-color" >The Arts </span>. Utilizing the 
	    attributes of Discernment in block #7 and building on top of 
	    skills and abilities allow students to gain the needed personal 
	    strength to overcome problems and reach goals. Students often miss
	    the understanding of the overall goal of living and learning
	    at school. We as educators and parents 
	    can mistakenly pressure our students and children to perform and
	    excel using our own expectations and objectives without conveying
	    to them that their choice and joys are a high priority in the process 
	    of choosing their personal and professional pathways. Whether a student 
	    chooses a path of science, medicine, architecture, government, 
	    psychology, any path requires the ability to artfully design their timeline 
	    to reach their goals, their workspaces, and their aspirations. This  
	    block includes activities that convey a permission and invitation to  
	    design their life going forward. This combination of purpose and 
	    self-control or self-ownership is the catalyst to resilience. 
	    The lives of over-comers model this mindset equation. Abraham Lincoln, 
	    Martin Luther King, Helen Keller, Gandhi, and many others have used the 
	    combination of creative ownership and self-control with purpose to overcome 
	    monumental challenges with resilience to achieve purposes that help 
	    themselves and their community in helpful and meaningful ways.
          </p>
          <p>
            <span class="selfcontrol-color">Magnesium</span> and
            <span class="purpose-color">Aluminum</span> smelt together to make an
            alloy called <span class="resilience-color">Magnalium</span>.
          </p>
          <p>
            Many people make a good living using this alloy made from metals
            from our earth for industries that buy sell, make, and use aircraft,
	    automobile, pyrotechnics. 
          </p>
          <p>
            Just like <span class="selfcontrol-color">Magnesium</span> and
            <span class="purpose-color">Aluminum</span> smelt together to make 
            the alloy called <span class="resilience-color">Magnalium</span>, 
	    <span class = "selfcontrol-color"> Self-control </span> and
	    <span class = "purpose-color"> Purpose </span> smelt together to make
	    <span class = "resilience-color"> Reseilience </span>
          </p>
          <img
            src="../static/images/block8scale.png"
            class="img-fluid"
            alt="A scale showing how Magnalium Resilience is a mix of Magnesium Self-control and Aluminum Purpose"
          />
        </div>
      </div>
{% endblock %}
