{% extends 'base.html' %}

{% block content %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/block9.css') }}"
  />

  <div class="container text-left">
    <div class="row align-items-start justify-content-center">
      <div class="col-10">
        <h1>
          <span class="perception-color"
            >Block #9: Functional Relationships</span
          >
        </h1>
        <img
          src="{{ url_for('static', filename='images/block9header.png') }}"
          class="img-fluid"
          alt="The Human Domino Effect board with the Silver-Gold Block"
        />

        <h2>
          <span class="gentleness-color">Gentleness</span> and
          <span class="respect-color"> Respect </span> allow kids and teens to
          build strong connectins
        </h2>
        <p>
          <span class="relationships-color"> Electrum Relationships! </span>
          Being a gentleman or a gentlewoman is a term that is somewhat
          old-fashioned. The definition of Gentleness can denote being moderate
          in action instead of harsh or severe. It also includes a thoughtful
          and measured temperament. This block is the top block on the Liberty
          and Humanities stack of blocks and builds upon the block of
          responsibility. This block is the culmination or completion of the
          nine needed elements or learning traits that help students live their
          best lives. When parents and teachers work together, to allow children
          and teens to experience these elements through the thoughtful
          preparation of their environment and schedule it will help them to
          develop meaningful relationships as they participate in and continue
          to build communities where each person has a meaningful role in
          solving our most pressing problems and living lives of optimal
          happiness, liberty, and health.
        </p>

        <p>
          An excellent way for children and teens to be given opportunities to
          practice <span class="respect-color">Respect </span> and
          <span class="gentleness-color"> Gentleness </span>through
          project-based learning which involve real world projects. Volunteer
          work also provides opportunities to build this skill. Athletics offer
          another great way to build strong relationships with ample
          opportunities to practice Respect and Gentleness, which can be seen as
          a kind of good sportsmanship.
        </p>

        <p>
          <span class="gentleness-color"> Gold </span> and
          <span class="respect-color"> Silver </span> smelt together to make an
          alloy called <span class="relationships"> Electrum </span>. Many
          people make a good living using this alloy made from metals from our
          earth for industries that buy, sell, make, and use ancient coins like
          the Lydia Lion, jewelry, drinking vessels, and the exterior covering
          for monuments and buildings like the Egyptian pyramids.
          <span class="gentleness-color"> Gentleness </span> and
          <span class="relationships-color"> Respect </span> smelt together to
          make strong <span class="relationships-color"> Relationships.</span>
        </p>

        <p>Building Considerate Interactions</p>
        <img
          class="img-fluid"
          src="{{ url_for('static', filename='images/block9scale.png') }}"
        />
      </div>
    </div>
  </div>
{% endblock %}
