{% extends 'base.html' %}

{% block content %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/block5.css') }}"
  />
  <div class="containter text-left">
    <div class="row align-items-start">
      <h1>
        <span class="ability-color">Block #5: Developed Abilities</span>
      </h1>
      <img
        src="{{ url_for('static', filename='images/block5header.png') }}"
        class="img-fluid"
        alt="The Human Domino Effect board with developed abilities"
      />
      <div class="col">
        <img
          src="{{ url_for('static', filename = 'images/block5people.png') }}"
          class="custom-img"
          alt="Aetaupatupat and Ukanawit Aduid ambassadors for cobalt goodness and chromium skills"
        />

        <p>
          Together they make for the
          <span class="ability-color"> Vitalium kind of Ability!</span>!
        </p>
        <p>
          The definition of
          <span class="goodness-color"> Goodness</span>
          can mean two things. It can have to do with the nourishing or
          beneficial element of food versus rotten or unhealthy food. Similarly,
          <span class="goodness-color"> Goodness</span> can mean a choice or
          action that is ethical or moral. Blending these meanings is easy when
          we consider that the way we interact with our words or our actions
          that offer what is helpful or nourishing for ourselves or others is
          exactly what makes the choice moral and ethical.
          <span class="goodness-color"> Goodness </span> combined with the
          practiced Skills of reading, writing,mathematics, verbal communication
          allow children and teens to build on their
          <span class="skills-color"> Focused Energy </span> and own the
          personal building block with a set of helpful
          <span class="ability-color"> Vitalium-like Abilities</span>
          for their own wellbeing and that of their own family and community.
        </p>

        <p>
          <span class="goodness-color"> Cobalt </span> and
          <span class="skills-color"> Chromium </span> smelt together to make an
          alloy called <span class="ability-color"> Vitalium</span>. Many people
          make a good living using this alloy made from metals from our earth
          for industries that buy sell,make, and use artificial joints,
          dentistry, and turbo chargers and more!
        </p>
        <p>
          <span class="goodness-color"> Goodness </span> and
          <span class="skills-color"> Skills </span> smelt together to build
          <span class="ability-color"> Useful Abilities </span>
        </p>
      </div>

      <img
        src="{{ url_for('static', filename='images/block5scale.png') }}"
        class="img-fluid"
        alt="A scale showing how Vitalium Ability is mixed Cobalt Goodness and Chromium Skills"
      />
    </div>
  </div>
{% endblock %}
