{% extends 'base.html' %}

{% block content %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/block4.css') }}"
  />

  <div class="container text-left">
    <div class="row align-items-start justify-content-center">
      <div class="col-10">
        <h1>
          <span class="perception-color">Block #4: Nitinol Perception</span>
        </h1>
        <img
          src="{{ url_for('static', filename='images/block4header.png') }}"
          class="img-fluid"
          alt="The Human Domino Effect board with the Nitinol Perception Block"
        />
        <p>
          Together they make for
          <span class="perception-color"
            >Flexible, Strong, Nitinol-like Perception</span
          >!
        </p>
        <p>
          Activities that provide opportunities for children and teens to
          explore and use all of their senses in ways that require and finesse
          the need for patience are a natural and effective way to build the
          kind of perception needs to learn and interact at higher levels than
          is possible without a heightened
          <span class="perception-color">Perception</span>.
        </p>
        <p>
          Comparing this level of perception to the alloy of
          <span class="perception-color">Nitinol</span> is a fun what to help
          children and parents get an understanding of this goal.
        </p>
        <p>
          <span class="perception-color">Nitinol</span> is an alloy with a kind
          of “memory flexibility.” It is used in orthodontics, stints,
          orthopedic implants, golf clubs, eyeglass frames and more. You most
          likely touch nitinol more than any other kind of metal alloy.
          Perception is a way of interpreting sensory information in a way that
          makes a accurate mental impression and allows for decisions to be made
          more keenly by using the senses well.
        </p>
        <p>
          <span class="patience-color">Titanium</span> and
          <span class="senses-color">Nickel</span> smelt together to make an
          alloy called <span class="perception-color">Nitinol</span>.
        </p>
        <p>
          Many people make a good living using this alloy made from metals from
          our earth for industries that buy sell, make, and use “memory
          flexibility” and therefore it is useful for orthodontics, stints,
          orthopedic implants, golf clubs, eyeglass frames and more!
        </p>
        <p>
          <span class="patience-color">Patience</span> while using the
          <span class="senses-color">Senses</span> smelt together to build keen
          <span class="perception-color">Perception</span> that is useful for
          being flexible and able to interpret their environment in ways that
          help students make better decisions for themselves and others.
        </p>
        <img
          src="{{ url_for('static', filename='images/block4scale.png') }}"
          class="img-fluid"
          alt="A scale showing how Nitinol Perception is a mix of Nickel Senses and Titanium Patience"
        />
      </div>
    </div>
  </div>
{% endblock %}
