<script
  type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/jquery.maphilight.js') }}"
  defer
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/board.js') }}"
  defer
></script>

<!-- Some of these classes and ID's are used by maphilight, they shouldn't change! -->
<div id="map-wrapper" class="w-100 h-100">
  <div class="map">
    <img
      id="game-board-image"
      class="map maphilighted"
      src="{{ url_for('static', filename='images/board.png') }}"
      usemap="#game-board-map"
      alt=""
    />
  </div>
</div>
<!-- 
  The coords tag for each area define a block on the game board, they shouldn't change!
  
  The data-character-* tags can change if a new character is created for that block.
-->
<map name="game-board-map">
  <!-- First Column -->
  <area
    id="building-block-1"
    shape="poly"
    coords="169,257,169,234,189,250,213,242,217,230,220,256,215,272,192,283"
    href="{{ url_for('content.block1') }}"
    alt="Healthy Place to Live and Learn"
    data-maphilight='{"strokeColor":"77722a","fillColor":"534e3e"}'
    data-character-name="Adorhcs and Nauotet"
    data-character-img-url="{{ url_for('static', filename='images/adorchs-nauotet.png') }}"
  />
  <area
    id="building-block-4"
    shape="poly"
    coords="168,229,165,197,186,213,210,204,214,195,217,225,212,240,188,248"
    href="{{ url_for('content.block4') }}"
    alt="Practiced Perception"
    data-maphilight='{"strokeColor":"797a7a","fillColor":"5d5848"}'
    data-character-name="Luhks and Eviafilati"
    data-character-img-url="{{ url_for('static', filename='images/luhks-eviafilati.png') }}"
  />
  <area
    id="building-block-7"
    shape="poly"
    coords="166,195,163,165,186,177,196,171,209,171,212,163,215,189,210,204,188,211"
    href="{{ url_for('content.block7') }}"
    alt="Discernment"
    data-maphilight='{"strokeColor":"929292","fillColor":"a5a7a4"}'
    data-character-name="Aicrem and Arravan"
    data-character-img-url="{{ url_for('static', filename='images/aicrem-arravan.png') }}"
  />
  <area
    id="arching-block-1"
    shape="poly"
    coords="164,163,160,142,164,118,189,147,196,142,212,142,212,155,208,169,187,175"
    href="#"
    alt="Science: Mathematics, Algebra, and Trigonometry"
    data-maphilight='{"strokeColor":"f3c47b","fillColor":"f9d688"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <area
    id="arching-block-4"
    shape="poly"
    coords="165,116,170,92,181,78,204,121,218,123,221,126,211,139,198,139,190,145"
    href="#"
    alt="Science: Earth and Space"
    data-maphilight='{"strokeColor":"eee980","fillColor":"fdfab0"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <area
    id="arching-block-7"
    shape="poly"
    coords="183,75,210,54,227,52,217,65,231,104,235,112,224,125,204,121,190,98"
    href="#"
    alt="Science: Life and Biology"
    data-maphilight='{"strokeColor":"b7cc70","fillColor":"e7fbae"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <!-- Second Column -->
  <area
    id="building-block-2"
    shape="poly"
    coords="238,349,239,316,258,332,278,337,292,326,291,348,286,359,275,369,250,360"
    href="{{ url_for('content.block2') }}"
    alt="Energy for Concentration"
    data-maphilight='{"strokeColor":"535e5f","fillColor":"606b5a"}'
    data-character-name="Antap and Kuyohlatac"
    data-character-img-url="{{ url_for('static', filename='images/antap-kuyohlatac.png') }}"
  />
  <area
    id="building-block-5"
    shape="poly"
    coords="239,312,242,270,264,290,283,296,294,287,293,321,288,329,275,336,264,333"
    href="{{ url_for('content.block5') }}"
    alt="Developed Abilities"
    data-maphilight='{"strokeColor":"bcbcc0","fillColor":"ccc6c5"}'
    data-character-name="Aetaupatupat and Ukanawit Aduid"
    data-character-img-url="{{ url_for('static', filename='images/aetaupatupat-ukanawitaduid.png') }}"
  />
  <area
    id="building-block-8"
    shape="poly"
    coords="243,268,245,236,267,251,288,257,297,246,296,270,294,284,284,294,267,291"
    href="{{ url_for('content.block8') }}"
    alt="Resilience"
    data-maphilight='{"strokeColor":"657c96","fillColor":"7d94b0"}'
    data-character-name="Niluy and Ihcia"
    data-character-img-url="{{ url_for('static', filename='images/niluy-ihcia.png') }}"
  />
  <area
    id="arching-block-2"
    shape="poly"
    coords="247,234,247,198,266,203,291,203,299,197,299,240,296,248,289,255,268,251"
    href="#"
    alt="Arts: Engineering, Tools, and Architecture"
    data-maphilight='{"strokeColor":"b5349a","fillColor":"b74b9a"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <area
    id="arching-block-5"
    shape="poly"
    coords="246,195,246,179,241,157,263,139,283,132,294,144,298,168,299,194,298,201,263,201"
    href="#"
    alt="Arts: Language and Literature"
    data-maphilight='{"strokeColor":"cf2853","fillColor":"e96b72"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <area
    id="arching-block-8"
    shape="poly"
    coords="242,154,239,131,239,108,255,94,274,87,292,107,292,133,292,138,281,130,260,139"
    href="#"
    alt="Arts: Music, Theater, and Painting"
    data-maphilight='{"strokeColor":"f1a081","fillColor":"f7c89f"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <!-- Third Column -->
  <area
    id="building-block-3"
    shape="poly"
    coords="299,273,299,242,304,244,314,244,327,251,350,232,350,270,341,280,325,288,313,278,301,277"
    href="{{ url_for('content.block3') }}"
    alt="Stability"
    data-maphilight='{"strokeColor":"312b00","fillColor":"47494d"}'
    data-character-name="Yhorop and Namyelos"
    data-character-img-url="{{ url_for('static', filename='images/yhorop-namyelos.png') }}"
  />
  <area
    id="building-block-6"
    shape="poly"
    coords="300,239,300,199,307,204,330,211,344,209,352,199,351,229,343,239,328,248,315,243,304,242"
    href="{{ url_for('content.block6') }}"
    alt="Responsibility"
    data-maphilight='{"strokeColor":"6c464d","fillColor":"806962"}'
    data-character-name="Ibmaj and Udakak"
    data-character-img-url="{{ url_for('static', filename='images/ibmaj-udakak.png') }}"
  />
  <area
    id="building-block-9"
    shape="poly"
    coords="300,194,300,163,308,173,321,173,334,180,346,175,354,170,353,197,343,207,331,209,318,204,307,202"
    href="{{ url_for('content.block9') }}"
    alt="Functional Relationships"
    data-maphilight='{"strokeColor":"b9b49d","fillColor":"c6c8b4"}'
    data-character-name="Onibilib and Ekatnek Eseennet"
    data-character-img-url="{{ url_for('static', filename='images/onibilib-ekatnek.png') }}"
  />
  <area
    id="arching-block-3"
    shape="poly"
    coords="298,157,298,139,304,144,322,144,328,147,342,134,348,122,353,141,354,164,347,173,333,177,319,171,308,171"
    href="#"
    alt="Humanities: Law and Government"
    data-maphilight='{"strokeColor":"82cbd9","fillColor":"9de8f7"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <area
    id="arching-block-6"
    shape="poly"
    coords="295,133,295,126,304,126,311,128,327,101,331,82,343,101,347,116,343,130,329,144,315,141,305,141"
    href="#"
    alt="Humanities: Human Behavior"
    data-maphilight='{"strokeColor":"6781af","fillColor":"7ea1d1"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <area
    id="arching-block-9"
    shape="poly"
    coords="295,123,295,109,298,109,304,87,313,65,323,70,328,77,328,91,320,113,311,126,302,125"
    href="#"
    alt="Humanities: Ethics and Philosophy"
    data-maphilight='{"strokeColor":"ab7fef","fillColor":"caaff4"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
  <!-- Keystone -->
  <area
    id="keystone-block"
    shape="poly"
    coords="234,110,218,66,233,46,252,29,276,29,299,47,310,64,297,105,292,105,274,85,252,94,236,106,236,110"
    href="#"
    alt="Community"
    data-maphilight='{"strokeColor":"a4a4a4","fillColor":"ffffff"}'
    data-character-name="Hezekiah"
    data-character-img-url="{{ url_for('static', filename='images/hezekiah2.png') }}"
  />
</map>
