<!DOCTYPE html>
<html>
<head>
<meta name = "viewport" content = "width=device-width, initial-scale=1" charset="UTF-8">
<title> Human Domino Login Page </title>
	<link href = "LoginPage.css" type = "text/css" rel = "stylesheet" />
</head>

<body>

	<center> <h1> Login to the Human Domino Project! </h1> </center>
	<!-- TODO: Replace modified.php with form URL link -->
	<form name = "LoginForm" action="modified.php" method = "post">
		<div class="container">
			<label>Username/Email: </label>
			<input type="text" placeholder="Enter your Username or Email" name="username" required>
			<label>Password: </label>
			<input type="password" placeholder="Enter your password" name = "password" required>
			<button type="submit"> Login </button>
		</div>
	</form>
</body>
</html>
